{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="post">
            <time class="date"> 
                {{ post.published_date }}
            </time>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <img class="thumbnail" src={{post.thumb.url}}>
            <p>{{ post.text|linebreaksbr }}
                <a href="{% url 'post_new' %}" class="post-button">
                {% include './icons/cart-plus-fill.svg' %}
                </a>
                <a href="{% url 'post_new' %}" class="post-button">
                {% include './icons/cart-x-fill.svg' %}
                </a>
            </p>
        </article>
    {% endfor %}
{% endblock %}